* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html, body {
    color: #636363;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}


.container {
    max-width: 1199px;
    margin: auto;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_content nav {
    display: flex;
    align-items: center;
}

.header_content nav ul {
    display: flex;
    margin-right: 30px;
}

.header_content li {
    padding: 55px 15px;
    list-style: none;
}

.header_content li a {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s;
}

.header_content span {
    display: inline-block;
}

.header_content li:hover span {
    animation: upToDown 0.3s forwards;
}


.header_content li:hover a {
    color: #f55f8d;
}


.header_content i {
    font-size: 10px;
    vertical-align: middle;
}

.button {
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 400;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all 0.5s;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

.button:hover {
    background-position: right center;
}

/* carousel */

.carousel {
    padding-top: 180px;
    background-image: url(../img/pic2.png);
    background-position: top;
    background-size: 100%;
}

.carousel_content {
    display: flex;
    align-items: center;
}

.carousel_content .carousel_left {
    width: 60%;
}

.carousel_content .carousel_left .title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.carousel_content .carousel_left .title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.carousel_content .carousel_left .carousel_article p{
    font-size: 18px;
    margin-bottom: 15px;
}

.carousel_content .carousel_left .carousel_article ul {
    margin-bottom: 20px;
}

.carousel_content .carousel_left .carousel_article li {
    padding: 10px 5px 10px 0;
    font-size: 20px;
    list-style: none;
}

.carousel_content .carousel_left .carousel_article i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    border-radius: 35px;
    font-weight: 900;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    margin-right: 10px;
}





.carousel_content .carousel_right {
    width: 40%;
}


.carousel_content .carousel_right .carousel_banner {
    width: 570px;
    margin-left: 50px;
}


.carousel_content .carousel_right img {
    
    max-width: 100%;
    display: block;
}

/* service */

.service {
    padding-top: 115px;
    background-image: url(./../img/bg2.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}
.service .service_title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.service .service_title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.service .service_content {
    display: flex;
    margin-top: 40px;
    gap: 30px;
}

.service .service_content .service_item {
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
    padding: 30px 45px;
    transform: translateY(0);
    transition: all 0.5s;
    border-image: 100 round;
    border: 3px solid transparent;
    cursor: pointer;
}

.service .service_content .service_item img {
    width: 215px;
}

.service .service_content .service_item h3 {
    font-weight: 700;
    font-size: 1.5rem;
    color: #262626;
    margin: 15px 0;
}

.service .service_content .service_item:hover {
    transform: translateY(-20px);
    border-image: url(./../img/br.png) 1 round;
}

/* about */
.about {
    padding-top: 115px;
    background-image: url(./../img/bg15.png);
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    padding-bottom: 85px;
    overflow: hidden;
}

.about .about_content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.about .about_content .about_left {
    width: 60%;
    position: absolute;
    left: -17%;
}

.about .about_content .about_left img {
    width: 100%;
    border-radius: 0 100px 100px 0;
}

.about .about_content .about_right {
    width: 50%;

}

.about .about_content .about_right .about_title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.about .about_content .about_right .about_title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.about .about_content .about_right p {
    margin-bottom: 15px;
}

.about .about_content .about_right ul {
    margin-bottom: 30px;
}

.about .about_content .about_right ul li {
    list-style: none;
    margin-bottom: 10px;
}

.about .about_content .about_right ul li i {
    font-size: 24px;
    color: #f55f8d;
    margin-right: 10px;
    vertical-align: middle;
}

/* number */
.number {
    background-image: url(./../img/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0 50px;
    text-align: center;
}

.number .number_content {
    display: flex;
    justify-content: space-around;
}

.number .number_content .number_item {
    width: 25%;
}

.number .number_content .number_item i {
    font-size: 45px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    color: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
}

.number .number_content .number_item p:first-of-type {
    font-size: 65px;
    font-weight: 800;
    color: #f55f8d;
    line-height: 1;
}

.number .number_content .number_item p:last-of-type {
    color: #262626;
    font-size: 18px;
}

/* features */

.features {
    padding-top: 115px;
    background-image: url(./../img/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 0;
    overflow: hidden;
}

.features_content {
    display: flex;
}

.features_content .features_left {
    width: 50%;
}

.features_content .features_left .features_title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}


.features_content .features_left .features_title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.features_content .features_left .features_content_left .features_item {
    padding: 0 50px 30px 0;
}

.features_content .features_left .features_content_left .features_item:nth-of-type(2){
    padding: 0 0 30px 50px;
}


.features_content .features_left .features_content_left .features_item .features_bg {
    box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
   
    
}

.features_content .features_left .features_content_left .features_item .features_bg div {
    padding-left: 25px;
    z-index: 1;
    transition: all 1s;
}

.features_content .features_left .features_content_left .features_item .features_bg h3 {
    font-weight: 800;
    color: #262626;
    font-size: 1.5rem;
    transition: all 1s;
}

/* .features_content .features_left .features_content_left .features_item .features_bg::after {
    content: "";
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s;
} */

.features_content .features_left .features_content_left .features_item .features_bg:hover {
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    transition: all 1s;
}

.features_content .features_left .features_content_left .features_item i {
    font-size: 80px;
    line-height: 1;
    color: #f55f8d;
    z-index: 1;
    transition: all 1s;
}


.features_content .features_left .features_content_left .features_item:hover i {
    color: white;
}

.features_content .features_left .features_content_left .features_item:hover h3 {
    color: white;
}

.features_content .features_right {
    width: 50%;
}

.features_content .features_right .features_banner {
    margin-right: -80px;
    
}

.features_content .features_right .features_banner img {
    max-width: 100%;
    animation: automationLoop 3s infinite;
}

/* postfolio */

.postfolio {
    padding-top: 115px;
    background-image: url(./../img/bg17.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}

.postfolio .postfolio_title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.postfolio .postfolio_title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.postfolio_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr;
    gap: 35px;
}

.postfolio_content .postfolio_item {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.postfolio_content .postfolio_item img {
    width: 100%;
    height: 100%;
}

.postfolio_content .postfolio_item:first-child {
    grid-column: 1 / span 2;
}

.postfolio_content .postfolio_item:nth-of-type(5) {
    grid-column: 1 / span 2;
}

.postfolio_content .postfolio_item:last-child {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}


.postfolio_content .postfolio_item::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
    transition: all 0.75s;
}

.postfolio_content .postfolio_item:hover::before {
    left: 125%;
}

.postfolio_content .postfolio_item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 0.75s;
}

.postfolio_content .postfolio_item:hover .overlay {
    opacity: 1;
}

.overlay_icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    transform: translate(20px, -20px);
    transition: all 0.75s;
}

.overlay_icon a {
    color: #fff;
    cursor: pointer;
}

.postfolio_content .postfolio_item:hover .overlay_icon {
    transform: translate(0);
}

.overlay_text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    transform: translateY(150px);
    transition: all 0.75s;
}

.postfolio_content .postfolio_item:hover .overlay_text {
    transform: translateY(0);
}

.postfolio_content .postfolio_item .overlay_text h3 {
    font-size: 22px;
    font-weight: 800;
    color: white;
}

.postfolio_content .postfolio_item .overlay_text p {
    color: white;
    opacity: 0.7;
}

/* blog */

.blog {
    padding-top: 115px;
    background-image: url(./../img/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}

.blog .blog_title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.blog .blog_title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.blog .blog_item {
    text-align: left;
    background: rgba(245, 95, 141, 0.1);
    border-radius: 8px;
}

.blog .blog_item .blog_header {
    position: relative;
}

.blog .blog_item .blog_header img {
    width: 100%;
    border-radius: 8px;
}

.blog .blog_item .blog_header p {
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    position: absolute;
    bottom: -20px;
    left: 15px;
}

.blog .blog_item .blog_body {
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.blog .blog_item .blog_body h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626;
}

.blog .blog_item .blog_footer {
    display: flex;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.blog .blog_item .blog_footer i {
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
}

.blog .blog_item .blog_footer p:first-of-type {
    margin-right: 20px;
}

.blog .blog_item .blog_footer p:first-of-type span {
    color: #f55f8d;
}

/* footer  */
footer {
    margin-top: 40px;
    background: #0e1b1f url(./../img/bg4.png) no-repeat center / contain;
    font-size: 15px;
    position: relative;
    height: auto;
}

footer::before {
    content: "";
    background: url(../img/pattern2.png) no-repeat left top / contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer_top {
    padding: 50px 60px;
    background: #fff url(./../img/pattern3.png) no-repeat bottom;
    background-size: 100%;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    align-items: center;
}

.footer_top .footer_title {
    width: 50%;
}

.footer_top .footer_title h2 {
    font-size: 28px;
    color: #262626;
}

.footer_top .footer_input {
    width: 50%;
}

.footer_input form {
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);
}
.footer_input input {
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
    outline: none;
    transition: all .5s;
}

.footer_input input:hover {
    border-color: #f55f8d;
}


.footer_top .footer_input button {
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all 0.5s;
    border-radius: 0 0.5rem 0.5rem 0;
    color: white;
    cursor: pointer;
}

.footer_top .footer_input button:hover {
    background-position: right center;
}

.footer_top .footer_input button:hover i {
    animation: leftright 0.5s infinite;
}


.footer_bottom {
    display: flex;
    padding: 70px 0;
    position: relative;
}

.footer_bottom .footer_item {
    width: 25%;
}

.footer_bottom .footer_item a {
    color: #636363;
    font-size: 16px;
    transition: all .5s;
}

.footer_bottom .footer_item i {
    font-weight: 700;
    margin-right: 10px;
}

.footer_bottom .footer_item .contact li {
    display: flex;
    align-items: center;
}

.footer_bottom .footer_item .contact i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    display: block;
    border-radius: 50px;
    color: white;
}

.footer_bottom .footer_item .contact span {
    font-size: 15px;
    color: white;
}


.footer_bottom .footer_item li {
    list-style: none;
    padding: 8px 0;
}

.footer_bottom .footer_item li a {
    text-decoration: none;
    font-size: 16px;
    transition: all 0.5s;
}

.footer_bottom .footer_item li a:hover {
    color: white;
}

.footer_bottom .footer_item h3 {
    color: white;
    font-size: 24px;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.footer_bottom .footer_item h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 15px;
    border-radius: 20px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%) 200%;
}

.footer_bottom .footer_item h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    height: 4px;
    width: 45px;
    border-radius: 20px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%) 200%;
}












/* back-to top */
.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 17px;
    background-color: #f55f8d;
    color: white;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    opacity: 0;
    
}

.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
  }
  
  .cd-top--fade-out { 
    opacity: .5;
  }

  /* keyframe */
  @keyframes upToDown {
    49% {
        transform: translateY(100%);
    }

    50% {
        opacity: 0;
        transform: translateY(-100%);
    }

    51% {
        opacity: 1;
    }
}

@keyframes automationLoop {
    0% {
        transform: rotate(1deg) translate(2px, 2px);
    }
    50% {
        transform: rotate(-1deg) translate(-2px, -2px);
    }
    100% {
        transform: rotate(1deg) translate(2px, 2px);
    }
}

@keyframes leftright {
    from {
        transform: translateX(-100%);
        opacity: 1;
    } to {
        transform: translateX(100%);
        opacity: 0.5;
    }
}